.git
.gitignore
.dockerignore

__pycache__/
*.py[cod]
.ipynb_checkpoints/

.env
.venv/
venv/
env/

app/.streamlit/secrets.toml
docs/internal/

data/raw/*.csv
data/raw/*.zip
data/feedback/
data/new_data/
data/processed/
data/database/

*.sqlite
*.sqlite3
*.db

README.md
docs/dailies/

.DS_Store
Thumbs.db
