__pycache__/
*.py[cod]

.ipynb_checkpoints/

.env
.venv/
venv/
env/

data/raw/*.csv
data/raw/*.zip
data/processed/*.csv
data/feedback/*.csv
data/new_data/*.csv

models/*.pkl
models/*.joblib

.DS_Store
Thumbs.db
